.Charts {
    margin: 0 20px 10px 20px;

}

@media (max-width: 600px){
    .Chart {
        margin: 0 4px 15px 3px;
    }
}

.apexcharts-toolbar .apexcharts-element-hidden {
    display: none;
}