.Charts {
    margin: 0 10px 5px 10px;

}

@media (max-width: 600px){
    .Chart {
        margin: 0 0px 8px 0px;
    }
}

.apexcharts-toolbar .apexcharts-element-hidden {
    display: none;
}